/* box-sizing 속성은 다소 근래에 생긴 것이라서 -webkit, -moz를 붙여야 한다. */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    margin: 0px;
}


/* height: 100vh 라고 하면 파란색 부분이 뷰포트의 높이만큼 차지하고, margin, border, padding은 또 따로 영역을 차지한다. */


/* box-sizing을 border-box로 설정하면 border, padding, content의 크기를 합한 값이 100vh를 차지한다. */

.container {
    min-height: 100vh;
    background-color: lightgray;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white;
}

.main-container {
    padding-top: 70px;
    padding-left: 250px;
    min-height: 1000px;
    background-color: white;
}

main {
    height: 100%;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    padding-top: 70px;
}

.navigation {
    height: 100%;
    border-right: 1px solid black;
    background-color: white;
}